<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS and other headers -->
  </head>
  <body>
    <!-- Header partial inclusion -->
    <% include('./partials/_header') %>
    <!-- Content specific to urls_show.ejs -->
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <%= longURL %></h5>
        <p class="card-text">
          Short URL ID: <a href="/u/<%= id %>"><%= id %></a>
        </p>
      </div>
      <div class="card-footer text-muted"></div>
    </div>
    <!-- Bootstrap JS and other scripts -->
  </body>
</html>

